*,*::after,*::before{
    box-sizing:inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-center{
    text-align: center;
}
.contianer{
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
}
.header{
    margin: 4rem 0;
}
.header-title{
    text-transform: uppercase;
    font-size: 2rem;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img{
    width: 10rem;
}
.player-container,
.conteo-container,
.resultado-container {
    display: flex;
    justify-content: space-evenly;
}
.player{
    font-size: 2rem;
}
.player,
.conteo,
.resultado{
    font-weight: bold;
    text-transform: uppercase;
}
.resultado-container{
    margin-top: 4rem;
}
.buttom-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.play-btn{
    border: none;
    border-radius: .8rem;
    width: 20rem;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.tabla-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.tabla{
    display: flex;
    justify-content: center;
    background-color: #e3dbdb;
    padding: 2rem;
    width: 20rem;
    border-bottom: .1rem solid #000;
}
